<link rel="stylesheet" type="text/css" href="style.css">
<blockquote style="color:#e6e6e6"><b>CHANGELOG 12.1.2.0.RFJCNXM</b><br>
<body style="background-color:#1b1b1b;">
<div class="wrapper background-foo">
<hr size="1">
<br>
<br>
<style>


body {
  background-image: url('background.png');
  background-attachment:fixed;
  background-size:cover
}
</style>
<p style="color:#e6e6e6">
<br>
<b>System</b><br> 
<opt>Optimization</opt> - Updated Android Security Patch to February 2021. Increased system security.<br>
<opt>Optimization</opt> - Added Lag. [K20/Mi9T]<br>
<opt>Optimization</opt> - Improved performance by removing Cleaner app [Note: It barely made a difference]<br>
<br>
<b>Control Center</b><br>
<opt>Optimization</opt> - Improved Stutters. [K20/Mi9T]<br>
<br>
<b>MiLag Engine</b><br>
<new>New</new> - Anti-Smoothness algorithm. [A system to detect smoothness then adds Lag to them]<br>
<opt>Optimization</opt> - Improvement to the AI Engine for better Lag™.<br>
<br>
<b>The MMX Team are working hard to give you the best miui experience.</b><br>
<br>
<br>
<br>
</div>
</body>
<img id="team-logo-mmx" src="xiaomi_mmx.png" style="width:200px;" /><br>
<br>
</blockquote>
</p>
